.drawer {
  top: 0;
  bottom: 0;
  width: 100%;
  position: fixed;
  transition: transform 0.3s;
  z-index: 999;
}

.drawer.active {
  transform: translateX(0);
}

.drawer-left {
  transform: translateX(-100%);
  left: 0;
  right: auto;
}

.drawer-right {
  transform: translateX(100%);
  right: 0;
  left: auto;
}

.drawer-mask {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  background-color: rgba(0, 0, 0, .5);
}