.botere-aside {
  display: block;
  /* width: 250px; */
  width: auto;
  overflow-y: auto;
  border-right: 2px solid;
  border-color: #242424;
  padding-top: 3px;
  background-color: #151515;
  color: white;
}

.monaco-editor .overflow-guard {
  position: relative;
  overflow: hidden;
  height: 100% !important;
}
